@font-face {
  font-family: jennaSue;
  src: url("JennaSue.ttf");
}
@font-face {
  font-family: tangerine_regular;
  src: url("Tangerine_Regular.ttf");
}
/* line 9, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
body {
  margin: 0px;
  padding: 0px;
  background: #eeeeee;
  font-size: 1.1em;
  font-family: helvetica;
  color: #666;
  word-wrap: break-word;
}

/* line 18, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
h1, h2, h3, h4, h5, h6 {
  color: rgba(255, 255, 255, 0.9);
}

/* line 21, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
nav {
  float: left;
  box-sizing: border-box;
  width: 20%;
  background-color: #1c1c1c;
  height: 100%;
  position: initial;
}

/* line 29, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
main {
  /*position: absolute;*/
  float: right;
  box-sizing: border-box;
  width: 80%;
}

/* line 35, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
section {
  margin-bottom: 2em;
}

/* line 38, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
a {
  color: #666;
  text-decoration: none;
}

/* line 42, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
a:hover {
  color: #333;
  cursor: pointer;
}

/* line 46, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.header {
  height: 7.5rem;
  /*background: #009688;*/
  background: #444;
}

/* line 51, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.header_title {
  color: #fff;
  padding-top: 23px;
  font-weight: bold;
  text-align: center;
  font-family: helvetica;
  font-size: 1.4em;
}

/* line 60, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.container {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

/* line 65, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.big_container {
  width: 99%;
}

/* line 68, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.title {
  text-align: center;
  font-size: 1.6em;
  font-family: tangerine_regular;
}

/* line 73, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.usage {
  font-size: 1.1em;
  font-family: helvetica;
  color: #666;
}

/* line 78, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.usage2 {
  float: left;
  box-sizing: border-box;
  width: calc(50% - 0.5em);
  margin-right: 0.5em;
}

/* line 84, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.usage3 {
  float: left;
  box-sizing: border-box;
  width: calc(33.33% - 0.5em);
  margin-right: 0.5em;
  font-size: 1em;
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0px 0px;
  }
  100% {
    box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, 0.5);
  }
}
/* line 99, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.wrapper {
  margin-top: -3rem;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* line 106, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.wrapper:after {
  display: block;
  content: '';
  clear: both;
}

/* line 111, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content {
  box-sizing: border-box;
  padding: 1rem;
  float: left;
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  -webkit-animation-duration: 0.4s, 1s;
  animation-duration: 0.4s, 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp, glow;
  animation-name: slideUp, glow;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
}

/* line 130, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content1 {
  width: 100%;
}

/* line 133, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content2 {
  margin: 0 0.5em;
  width: calc(50% - 1em);
}

/* line 137, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content3 {
  margin: 0 0.5em;
  width: calc(33.33% - 1em);
}

/* line 143, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content:first-child:nth-last-child(1),
.content:first-child:nth-last-child(1) ~ .content {
  width: calc(100% - 2em);
}

/* line 143, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content:first-child:nth-last-child(2),
.content:first-child:nth-last-child(2) ~ .content {
  width: calc(50% - 2em);
}

/* line 143, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content:first-child:nth-last-child(3),
.content:first-child:nth-last-child(3) ~ .content {
  width: calc(33.3333333333% - 2em);
}

/* line 143, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.content:first-child:nth-last-child(4),
.content:first-child:nth-last-child(4) ~ .content {
  width: calc(25% - 2em);
}

/* line 149, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.list {
  margin: .5rem;
}

/* line 153, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

/* line 158, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

/* line 166, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

/* line 172, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #c6c6c6;
}

/* line 184, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #1c1c1c;
  border-top-style: none;
  border-right-style: none;
}

/* line 196, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

/* line 207, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/* line 220, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}

/* line 225, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.button--round:hover {
  background: #3b50ce;
}

/* line 229, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 256, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
ul {
  list-style: none;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 261, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.mid_wrapper {
  width: 28%;
}

/* line 264, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.big_wrapper {
  width: 50%;
}

/* line 267, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.very_big_wrapper {
  width: 95%;
  display: block;
  margin: -2em auto 0 auto;
  transform: translateX(0%);
}

/* line 273, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.overflow {
  padding-top: 0.2em;
  height: 140px;
  overflow: auto;
}

/* line 279, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
pre {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  white-space: pre-line;
  word-wrap: normal;
  color: #333;
  text-align: center;
  width: 57vw;
  margin-left: auto;
  margin-right: auto;
}

/* line 293, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.tag {
  color: #2f6f9f;
}

/* line 296, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.attr {
  color: #4f9fcf;
}

/* line 299, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.attr_cont {
  color: #d44950;
}

/* line 302, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.left_align {
  text-align: left;
}

/* line 305, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.center_align {
  text-align: center;
}

/* line 308, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.text {
  color: #409b1c;
}

/* line 311, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.parameter {
  color: #a151d2;
}

/* line 315, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.hidden {
  display: none;
}

/* line 319, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.margin-top-zero {
  margin-top: 0;
}

/* line 323, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
#uses .anchor_div {
  margin: 0.5em;
}

/* line 327, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
nav a {
  font-size: 0.9em;
}

/* line 330, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
nav a:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

/* line 334, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
nav h3 {
  font-size: 1.7em;
  font-family: tangerine_regular;
  font-weight: normal;
  color: white;
}

/* line 340, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
#uses a.active {
  color: rgba(255, 255, 255, 0.9);
}

/* line 343, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.light_gray {
  color: #999;
}

/* line 346, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.gray {
  color: #666;
}

/* line 349, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
.note {
  color: #4a4a4a;
  font-weight: bold;
}

/* line 353, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
#project_title_div {
  padding: 1.5%;
  background: #ccc;
  color: #333;
}

/* line 358, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
#project_title {
  font-size: 2.2em;
  font-family: tangerine_regular;
}

/* line 362, /home/jignesh/Ubuntu bkp/project/select_all-rails-example/app/assets/stylesheets/style.css.scss */
#project_tagline {
  font-size: 0.9em;
  font-weight: 300;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
